title - Find length of strings in an array

.section :find_string_length, "Find length of strings in a given array", 112
  %p
    Given an array containing some strings, return another array with their lengths, in the same order as they are. 
  %p  
    You are supposed to write a method named 'length_finder', which accepts an array and returns another array as described before.
  %p
    <strong>Example:</strong><br/>
    Given ['Ruby','Rails','C42'] the method should return [4,5,3]
    

   !enchant 581
      short_name :length_finder
      exercise!
      starting_code <<-DATA
               def length_finder(input_array)
               end
      DATA

      code_wrapper <<-DATA
         <%= user_code %>
      DATA

      specs <<-DATA
         it "given ['I','am','genius'] it returns [1,2,6]" do
           length_finder(['I','am','genius']).should eq([1,2,6])
         end
         
         it "given ['things','are','','awesome'] it returns [6,3,0,7]" do
           length_finder(['things','are','','awesome']).should eq([6,3,0,7])
         end
      DATA
      
      hint <<-DATA
        <b>Tip 1:</b> Go through the reading list. Especially: string_length and transforming_arrays
        <b>Tip 2:</b> Use an array transformation like map to find the length of each element.
      DATA
      
      solution <<-DATA
def length_finder(input_array)
  input_array.map {|element| element.length}
end
      DATA

   !release
